@font-face {
  font-family: 'crayoneregular';
  src: url('fonts/crayone-webfont.eot');
  src: url('fonts/crayone-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/crayone-webfont.woff2') format('woff2'),
       url('fonts/crayone-webfont.woff') format('woff'),
       url('fonts/crayone-webfont.ttf') format('truetype'),
       url('fonts/crayone-webfont.svg#crayoneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Webfont: Luciole-Regular */
@font-face {
    font-family: 'Luciole';
    src: url('fonts/Luciole-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Luciole-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Luciole-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Luciole-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Luciole-Regular.svg#Luciole-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
}
